<div class="fondo"> 
    <H1> 
      <div class="imgs">
          <a class="button" href="javascript: history.go(-1)" class="undo"><img src="../assets/img/arrow_back.png" alt=""></a>
          <a class="button" class="done" (click)="agregar.showModal()"><img src="../assets/img/Done.png" alt=""></a> 
      </div>
  
          
          <div class="lista">Agregar Dispositivo</div>
      
    </H1></div>
    <section class="container"><div class="account">
      <img src="../assets/img/account.png" alt="" class="img">  </div></section>
  
  
    <section class="flex-container">
        
      <button  class="box">Teléfono: <input class="cont_input" type="number"  placeholder="Type Number"></button>
        <button class="box">Tipo de Dispositivo: <input class="cont_input" type="text"  placeholder="Enter Device Type"></button>
      <button class="box"><img alt="" class="img2">Descripción: <input class="cont_input" type="text"  placeholder="Type The Description"></button>
    </section>
  
  
    <dialog #agregar type="modal">
      <p>DISPOSITIVO AGREGADO CORRECTAMENTE</p>
      <button [routerLink]="['/lista-contactos']">VOLVER A MIS CONTACTOS</button>
    </dialog>
  