<section class="flex-container">
    <div id="container-form">
        <h1 class = "lines-effect">Sign In</h1>
        <form (ngSubmit)="registrarme(form)" #form="ngForm">
            <div class="inputs">
                <label for="Name">Name</label>
                <input class="box" name="Name" placeholder="Type your name"[(ngModel)]="registerData.Name" #Name="ngModel">
            </div>
            <div class="inputs">
                <label for="LastName">LastName</label>
                <input class="box" name="LastName" placeholder="Type your last name"[(ngModel)]="registerData.LastName" #LastName="ngModel">
            </div>
            <div class="inputs">
                <label for="Email">Email</label>
                <input class="box" type="email" name="Email" id="email" autocomplete="email" placeholder="Type your email address"[(ngModel)]="registerData.Email" #Email="ngModel">
            </div>
                <div class="inputs">
                <label for="password">Password</label>
                <input class="box" type="password" name="Password" id="password" autocomplete="current-password" placeholder="Type your password"[(ngModel)]="registerData.Password" #Password="ngModel">
            </div>
            <div class="inputs">
                <label for="UserName">UserName</label>
                <input class="box" name="UserName" placeholder="Type your username"[(ngModel)]="registerData.UserName" #UserName="ngModel">
            </div>
            <div class="but">
                <button type="submit">Sign in</button>
              </div>
        </form>
      </div>
    </section>