
<div class="fondo"> 
  <H1> <div class="imgs">
        <a class="button" [routerLink]="['']" class="undo"><img src="../assets/img/arrow_back.png" alt=""></a>
        <a class="button" [routerLink]="['/new']" class="add"><img src="../assets/img/add_circle.png" alt=""></a> 
      </div>
        <h1 class="lista">Mis Contactos</h1>
  </H1></div>
  <section class="flex-container">
      <button  class="button" [routerLink]="['/contacto',name_contacts.first_name]" *ngFor="let name_contacts of name_contacts"> {{name_contacts.first_name}} </button>
  </section>