<section class="flex-container">
    <a  class="string" >Esta seguro que quiere eliminar este contacto?</a>
</section>
<section class="flex-container4">        
        <span class="icon-contacts">
          <img src="../assets/img/account.png" alt="">
        </span>
</section>
<section class="flex-container2">
    <button class="button" [routerLink]="['/ok-delete']">SI </button>
</section>
<section class="flex-container3">
    <button  class="button" [routerLink]="['/contactos']">NO </button>
</section>