<div class="fondo"> 
  <H1> 
        <a class="button" [routerLink]="['']" class="undo"><img src="../assets/img/arrow_back.png" alt="">
        <a class="button" [routerLink]="['/delete']" class="add"><img src="../assets/img/delete.png" alt=""></a> </a>
        
        <div class="lista">PEPE ARGENTO</div>
    
  </H1></div>
  <section class="container"><div class="account">
    <img src="../assets/img/account.png" alt="" class="img">  </div></section>


  <section class="flex-container">
      
      <div  class="button" > Nombre: PEPE
        
      </div>
      <div  class="button">Apellido: ARGENTO

        
      </div>
      <div  class="button"><img src="../assets/img/calling.png" alt="" class="img2">Telefono: 3464-5565454
        
      </div>
    <div  class="button"><img src="../assets/img/call.png" alt="" class="img2">Telefono 2: 3434-435456
      
    </div>
    <div class="button"><img src="../assets/img/Union.png" alt="" class="img2">Ciudad: Casilda
      
    </div>
    <div class="button">E-mail: pepearg@gmail.com
      
    </div>
  </section>


