<div class="fondo">
  <H1>
    <div class="imgsleft">
      <a class="button"
         [routerLink]="['/lista-contactos']"
         class="undo"><img src="../assets/img/arrow_back.png"
             alt=""></a>
      <a class="button"
         (click)="borrar.showModal()"><img src="../assets/img/delete.png"
             alt=""></a>
      <a class="button"
         class="undo"><img src="../assets/img/Edit.png"
             (click)="editContact()"
             alt=""></a>
    </div>

    <div class="lista">Datos Completos</div>

  </H1>
</div>
<section class="container">
  <div class="account">
    <img src="../assets/img/account.png"
         alt=""
         class="img">
  </div>
</section>


<section class="flex-container">

  <button class="box"> Nombre: <div *ngIf="!isEdit">{{contact.name}}</div> <input class="cont_input"
           type="text"
           id="name"
           name="name"
           [(ngModel)]="contact.name"
           *ngIf="isEdit"
           required> </button>
  <div *ngFor="let dispositivo of contact.dispositivos , index as i">
    <button class="box"> <img src="../assets/img/Telephone.png"
           alt=""
           class="img2"> Teléfono: <div *ngIf="!isEdit">{{dispositivo.number}}</div>
      <input class="cont_input"
             type="text"
             id="num"
             name="num-{{i}}"
             *ngIf="isEdit"
             [(ngModel)]="dispositivo.number">
    </button>
    <button class="box"> <img src="../assets/img/Dispositive.png"
           alt=""
           class="img2"> Dispositivo:
      <select class="cont_input"
              id="type"
              name="type-{{i}}"
              [(ngModel)]="dispositivo.type"
              [disabled]="!isEdit">
        <option [ngValue]="0">CelularNumber</option>
        <option [ngValue]="1">PhoneNumber</option>
        <option [ngValue]="2">Fax</option>
      </select>
    </button>
    <button class="box"> <img src="../assets/img/Description.png"
           alt=""
           class="img2"> Descripción: <div *ngIf="!isEdit">{{dispositivo.description}}</div> <input class="cont_input"
             type="text"
             id="desc"
             name="description-{{i}}"
             *ngIf="isEdit"
             [(ngModel)]="dispositivo.description"> </button>
  </div>
  <div>
    <button class="box"
            id="guardar"
            type="submit"
            (click)="edit()">Guardar Contacto</button>
  </div>
</section>

<dialog #borrar
        type="modal">
  <p>¿Desea borrar el contacto?</p>
  <div>
    <button (click)="deleteContacto(contact.id!)"
            class="button"
            [routerLink]="['/lista-contactos']">Si</button>
    <button class="button"
            [routerLink]="['/contacto']">No</button>
  </div>