<section class="flex-container">
    <div id="container-form">
        <h1 class = "lines-effect">Contacts</h1>
        <form #form="ngForm">
            <div class="inputs">
                <label for="email">Email</label>
                <input class="box" type="email" name="email" id="email" autocomplete="email" placeholder="Type your email Address">
            </div>
                <div class="inputs">
                <label for="password">Password</label>
                <input class="box" type="password" name="password" id="password" autocomplete="current-password" placeholder="Type your Password">
            </div>
        
            <div class="but">
                <button type="submit" [routerLink]="['lista-contactos']">Log In</button>
                <button type="button" [routerLink]="['sign-in']">Sign In</button>
              </div>
        </form>
      </div>
    </section>