
* {
  padding: 0;
  margin: 0;
}

.flex-container {
  background-image: linear-gradient(to left,#42275a, #734b6d);
  display: flex;
  border: 1px solid black;
  justify-content: center;
  text-align: center;
  height: 800px;
  align-items: center;
  flex-direction: row;
  flex-direction: row;
  border: none;
}

h1 {
  display: inline-block;
  position: relative;
  font-size: 50px;
  color: rgb(205, 205, 205);
  font-family: 'Dancing Script', cursive;
}

h1::after,h1::before {
  content:"";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: currentColor;
  top: 0.6em;
  transform: scale(0);
  transition: all 0.4s ease-in;
}

h1:hover::before, h1:hover::after {
  transform: scale(1);
}

h1::before {
  left: -140px;
}

h1::after {
  right: -140px;
}

.inputs {
  min-width: 325px;
  padding: 15px 10px;
  margin: 20px;
  background: rgb(214, 214, 214);
  border: unset;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  box-shadow: -5px -5px 15px 0 rgba(255, 255, 255, 0.7),
    5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
}

.but, button {
  display: flex;
  justify-content: center;
  display: inline-block;
  cursor: pointer;
  min-width: 325px;
  padding: 15px 10px;
  margin: 20px;
  background: rgb(214, 214, 214);
  border: unset;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  box-shadow: -5px -5px 15px 0 rgba(255, 255, 255, 0.7),
    5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
  font-family: 'sans-serif';
  color: #5e5e5e;
}

.box {
  text-align: center;
  flex-direction: row;
  justify-content: center;
  border: unset;
  font-family:'Segoe UI';
  font-size: 10px;
  border-radius: 25px;
  width: 125px;
  opacity: .4;
}

label {
  font-family: 'sans-serif';
  opacity: .6;
}