.fondo {
  background-image: linear-gradient(to left,#42275a, #734b6d);
  border-radius: 15px;
}

.flex-container {

  display: flex;
  background: linear-gradient(to left,#42275a, #734b6d);
  border: 1px solid #42275a;
  justify-content: center;
  height: auto;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;

}

.box{

  width: 428px;
  height: 78px;
  left: 0px;
  top: 385px;
  background: #42275a(50, 207, 207);
  border: 1px solid #42275a(50, 207, 207);
  box-shadow: 0px 3px 0px #000000;
  text-align: center;
  padding-top: 35px;
  min-width: 150px;
  padding: 15px 10px;
  margin: 20px;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 25px;
  color: #42275a(50, 207, 207);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

}


.lista{

  text-align: center;
  font-family: sans-serif;
  color:rgb(220, 220, 220);
  font-weight:bolder;
  text-shadow: 0 2px 0 #a0a0a0;
}

.buscar{
 text-align: center;
 padding-right: 50px;
 font-family: Impact;
 font-size: 20px;
 position: relative;
 right: -12px;
}
.container{
  
  display: flex;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  border:1px #42275a(50, 207, 207);
  font-size: 30px;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
  

}

  

 .button:hover{
  box-shadow: 0px 0px 0px;
  padding: 7px;
 }
 
 .imgs{
  display: flex;
  justify-content:space-between;
  position: relative;
  top: 24px;
  cursor: pointer;
}