<div class="fondo"> 
  <H1> 
    <div class="imgs">
        <a class="button" [routerLink]="['']" class="undo"><img src="../assets/img/arrow_back.png" alt=""></a>
        <a class="button" [routerLink]="['']" class="delete"><img src="../assets/img/Done.png" alt=""></a> 
    </div>

        
        <div class="lista"> Nuevo contacto</div>
    
  </H1></div>
  <section class="container"><div class="account">
    <img src="../assets/img/account.png" alt="" class="img">  </div></section>


  <section class="flex-container"  >
      
    <div  class="box">Nombre: <input class="cont_input" type="text"  placeholder="Type your name"></div>
      <div  class="box">Apellido: <input class="cont_input" type="text"  placeholder="Type your last name"></div>
      <div  class="box"><img src="../assets/img/calling.png" alt="" class="img2" >Telefono: <input class="cont_input" type="text"  placeholder="Type your phone"> </div>
    <div  class="box"><img src="../assets/img/call.png" alt="" class="img2">Telefono 2: <input class="cont_input" type="text"  placeholder="Type your phone"></div>
    <div class="box"><img src="../assets/img/Union.png" alt="" class="img2">Ciudad: <input class="cont_input" type="text"  placeholder="Type your city"></div>
    <div class="box">E-mail: <input class="cont_input" type="email"  placeholder="Type your Email"> </div>
  </section>


