<div class="fondo">
  <div id="flex-container">

    <H1>
      <div class="imgs">
        <a id="flecha" class="button" [routerLink]="['/lista-contactos']" class="undo"><img src="../assets/img/arrow_back.png" alt=""></a>
      </div>
      <h1 class="lista">Agregar Contacto</h1>
    </H1>
    


    <section id="ingresos">
      <div class="container">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">

          <div class="button">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" ngModel required><br>
          </div>
          
            <div class="button">
            <label for="num">Teléfono:</label>
            <input type="text" id="numb" name="num" ngModel required><br>
          </div>

          <div class="button">
            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" ngModel required><br>
          </div>
          
          <div class="button">
            <label for="type">TipoDispositivo:</label>
            <input type="number" id="type" name="type" ngModel required><br>
          </div>

          <div>
            <button class="button" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </section>
  </div>