<div class="fondo">
  <H1>
    <div class="imgs">

      <a id="flecha"
         class="button"
         [routerLink]="['/lista-contactos']"
         class="undo"><img src="../assets/img/arrow_back.png"
             alt=""></a>
      <a class="button"
         class="add"
         (click)="toggleInput()">✆<img src="../assets/img/add_circle.png"
             alt=""></a>

    </div>
    <div class="lista">Agregar Contacto</div>
  </H1>
</div>

<section class="container">
  <div class="account">
    <img src="../assets/img/account.png"
         alt=""
         class="img">
  </div>
</section>


<section class="flex-container">
  <form #form="ngForm"
        (ngSubmit)="onSubmit(form)">

    <div class="form-group">

      <div id="dispositivosContainer">

        <div class="box">
          <div class="textoinput">
            <label for="name">Nombre:</label>
            <input class="cont_input"
                   type="text"
                   id="name"
                   name="name"
                   [(ngModel)]="contactData.name"
                   required><br>
          </div>
        </div>

        <div *ngFor="let dispositivo of contactData.dispositivos, index as i">


          <div class="box">
            <div class="textoinput">
              <label for="num"><img src=""
                     class="img2">Teléfono:</label>
              <input class="cont_input"
                     type="text"
                     id="num"
                     name="num-{{i}}"
                     [(ngModel)]="contactData.dispositivos[i].number"
                     (input)="showInputs = true"><br>
            </div>
          </div>

          <div class="box">
            <div class="textoinput">
              <label for="disp">Dispositivo:</label>
              <select class="cont_input"
                      id="type"
                      name="type-{{i}}"
                      [(ngModel)]="contactData.dispositivos[i].type">
                <option [ngValue]="0">CelularNumber</option>
                <option [ngValue]="1">PhoneNumber</option>
                <option [ngValue]="2">Fax</option>
              </select><br>
            </div>
          </div>

          <!--<div class="box">
            <div class="textoinput">
            <label for="num">Dispositivo: ({{typeDispositivo[dispositivo.type]}})</label>
            <input class="cont_input"
                   type="number"
                   id="type"
                   min="0"
                   max="2"
                   name="type-{{i}}"
                   [(ngModel)]="contactData.dispositivos[i].type"><br>
            </div>
          </div> -->

          <div class="box">
            <div class="textoinput">
              <label for="desc">Descripción:</label>
              <input class="cont_input"
                     type="text"
                     id="desc"
                     value=""
                     name="description-{{i}}"
                     [(ngModel)]="contactData.dispositivos[i].description"><br>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div>
      <button class="box"
              id="guardar"
              type="submit">Guardar Contacto</button>
    </div>
  </form>
</section>