
  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.scss"/>
    <title>Lista de Contactos</title>
  </head><div class="fondo"> 
    <H1> 
          <div class="undo"><img src="../assets/img/arrow_back.png" alt="">
          <div class="add"><img src="../assets/img/add_circle.png" alt=""></div> </div>
          
          <div class="lista">Lista de Contactos</div>
      
    </H1></div>
    <section class="container"><div class="buscar">
      <img src="../assets/img/search.png" alt="">  Buscar: </div></section>
  <body>
  
    <section class="flex-container">
        <div  class="button">Mateo Monti
            
        </div>
        <div  class="button">Sandra Beck
          
        </div>
        <div  class="button">Mariano Monti
        </div>
        <div  class="button">Gaspar Monti
          
        </div>
      <div  class="button">Pietro Di Tomaso
        
      </div>
      <div class="button">Pablo Di Tomaso
        
      </div>
    </section>
  </body>
  </html>

