.fondo {
  background-image: linear-gradient(to left,#42275a, #734b6d);
  border-radius: 15px;
}

.flex-container {
  display: flex;
  background: linear-gradient(to left,#42275a, #734b6d);
  border: 1px solid #42275a;
  justify-content: center;
  height: auto;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

.box {
  width: 428px;
  height: 78px;
  left: 0px;
  top: 385px;
  text-align: center;
  min-width: 150px;
  padding: 15px 10px;
  margin: 20px;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: 'sans-serif';
  color: #5e5e5e;
}

.lista {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 15px;
  font-size: 50px;
  color: rgb(205, 205, 205);
  font-family: "Dancing Script", cursive;
  text-decoration: overline;
}

.buscar {
 text-align: center;
 padding-right: 50px;
 font-family: Impact;
 font-size: 20px;
 position: relative;
 right: -12px;
}

.container {
  display: flex;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  border:1px #42275a(50, 207, 207);
  font-size: 30px;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
}

 .button:hover {
  box-shadow: 0px 0px 0px;
  padding: 7px;
 }

.imgsleft {
  display: flex;
  position: relative;
  top: 42px;
  left: 415px;
  z-index: 100;
  filter: invert(73%) sepia(13%) saturate(18%) hue-rotate(322deg) brightness(104%) contrast(107%);
}

.img2 {
  filter: invert(73%) sepia(13%) saturate(18%) hue-rotate(322deg) brightness(104%) contrast(107%);
  height: 20px;
  position: relative;
  right: 25px;
}

dialog {
  justify-content: center;
  bottom: 14px;
  font-size: 25px;
  color: rgb(205, 205, 205);
  font-family: 'sans-serif';
  color: #5e5e5e;
}